<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lbw.guaniu">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="star.yx.tabview.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WriteNews"/>
        <activity android:name=".Story.StoryActivity"/>
        <activity android:name=".Song.SongActivity"/>
        <activity android:name=".Poem.PoemActivity"/>
        <activity android:name=".Music.MusicActivity"/>
        <activity android:name=".Square.SquareActivity"/>
        <activity android:name=".musicdetail.MuiscDetailActivity"/>
        <activity android:name=".personhome.PersonHome"/>
        <activity android:name=".help.HelpActivity"/>
        <activity android:name=".MusicPlayerActivity"/>
        <activity android:name=".FindActivity"/>
        <activity android:name=".help.HelpDetailActivity"/>
        <activity android:name=".Music.MusicDiscussDetailActivity"/>
        <activity android:name=".AddActivity"/>
        <activity android:name=".me.RegisterActivity"/>
        <activity android:name=".me.LoginActivity"/>
        <activity android:name=".me.BaseInformationSettingActivity"/>
        <activity android:name=".me.SchoolSettingActivity"/>
        <activity android:name=".me.MyLetterActivity"/>
        <activity android:name=".me.MyLetterDetailActivity"/>
        <activity android:name=".MyFriendActivity"/>
        <activity android:name=".detail.DetailsActivity"/>
        <activity android:name=".RecordActivity"/>
        <activity android:name=".EnsureRecordActivity"/>
        <activity android:name=".WriteLetterActivity"/>
        <activity android:name=".MoreRecommendActivity"/>
        <activity android:name=".me.AboutUsActivity"/>
    </application>

</manifest>